* {
    /* personal preference to avoid padding/margin irregularities :) */
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #26103D;
    color: #f0f0f0;
}

.app {
    width: 100vw;
    height: 100vh;
}
